:host {
  display: grid;
  grid-template-rows: auto;
  row-gap: 15px;

  * {
    cursor: pointer;
    background-color: rgb(37, 110, 110);
    color: white;
    padding: 10px;
    border-radius: 10px;

    img {
      max-width: 200px;
    }
  }
}

.selected,
.selected * {
  background-color: rgb(75, 43, 75);
}
